* {
  margin: 0;
}
body {
  background-color: white;
}

.main-container-form {
  display: flex;
  justify-content: center;
  padding: 20px;
}

form {
  width: 30%;
  padding-top: 20px;
  text-align: center;
  /* border: 1px solid black; */
  background-color: lightgrey;
  border-radius: 80px;
}

input {
  width: 90%;
  margin-top: 0px;
  margin-bottom: 0px;
}

label {
  display: flex;
  padding-top: 10px;
  padding-left: 20px;
}

button {
  margin: 10px;
  padding: 10px;
  width: 30%;
  background-color: #fa8718;
  color: white;
  border: none;
}

/* Products */

.main-container {
  display: flex;
  margin: 10px;
  flex-direction: column;
}

.product-heading {
  display: flex;
  justify-content: space-around;
}

.heading {
  display: flex;
  font-size: xx-large;
}

.sort-btn,
.total {
  background-color: #fa8718;
  padding: 10px;
  color: white;
  border-radius: 5px;
  font-size: large;
}

/* ProductItem */

.main-container-item {
  margin: 2% 15% 0 15%;
  padding: 10px;
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-around;
  background-color: lightgrey;
  border-radius: 40px;
}

.left-block {
  /* border: 1px solid black; */
  width: 20%;
}

.middle-block {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  width: 60%;
  justify-content: space-around;
}

.right-block {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  width: 20%;
  justify-content: space-around;
}

.left-block img {
  height: 180px;
  width: 180px;
  border-radius: 40px;
}

.product-name {
  padding-left: 15px;
  font-size: x-large;
  font-weight: 800;
  color: #fa8718;
}

.product-price {
  padding-left: 0px;
  color: blue;
}

.product-rating {
  padding-left: 15px;
}

.description {
  padding-left: 15px;
  flex-wrap: wrap;
}

.add-btn {
  /* border: 1px solid black; */
  width: 60%;
  background-color: #fa8718;
  color: white;
  font-weight: 800;
  padding: 10px;
  border-radius: 30px;
}

i {
  color: blue;
  padding-left: 15px;
}

#cart-icon {
  color: white;
  position: relative;
}

#cart-count {
  color: red;
  padding-left: 0px;
  padding-top: 0px;
  position: absolute;
  top: -1px;
}
